<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>

<h1 th: text="${produce}"></h1>

<!--<form action="/posts/create" method="post"> this was the form before form Model Binding was implemented below-->
<form action="@{/posts/create}" th:method="post" th:object="${post}">@{/posts/create}
<label for="title">Post Title: </label>
<input type="text" name="title" id="title" th:feild="*{title}"><br>
    <label for="description">Post Body:</label>
    <textarea name="description" id="description" th:feild="*{description}"cols="30" rows="10"></textarea>
    <input type="hidden" th:field="*{id}">
    <button class="btn footer-bg" type="submit">Submit Post</button>
</form>
</body>
</html>